
{% load static %}
<style>
     body{
        background-image: url("static/images/pattern.jpg ");
    }
    img{
        
        background-image: url("static/images/pattern.jpg ");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50px;
        width: 40%;
        height: 300px;
        margin-top: 5px;
        


    }
    #surah{
        border: 2px solid black;
        width: 80%;
        text-align: center;
        border-radius: 30px;
    }
    #main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column ;
        width: 70%;
        margin-left: 15%;
        
        
    }
    button{
        background-image: url("static/images/pattern.jpg ");
        font-size: 20px;
        border: none;
        font-family: "Playwrite AU VIC Guides", cursive;
        font-weight: 400;
        font-style: normal;
        border-radius: 50px;

    }
</style>
<div id="main">
    {% for surahs in surah %}

    
    
   <div id="surah">
    <img src="{% static 'images/bgchap.png' %}" onclick ="window.location.href='{% url 'surahdetail' surahs.number %}' ">
    <h1>{{surahs.number}} ({{surahs.name}} || {{surahs.englishName}})</h1><br>
    <button onclick ="window.location.href='{% url 'surahdetail' surahs.number %}' ">View All surahs</a>
    </button><br><br>


   </div><br><br>
    
    
    
    {% endfor %}

</div>


 